/* =======================================
   Custom Stylesheet
   Autor: Marcelo Macedo (Farol Operacional)
   Descrição: CSS base para layout e tema
   ======================================= */

@media print {
    #btn-print-page {
        display: none !important;
    }

    .navbar,
    .theme-switch,
    .footer {
        display: none !important;
    }

    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}
